body {
  font-family: "Computer Modern Serif", serif;
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  body {
    font-size: small;
  }
  hr {
    margin-bottom: 10px !important;
  }
  nav {
    display: none;
  }
}
